{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="ui three column grid">
    {% for anuncio in anuncios %}
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="{% static '/ml_anuncios/img/no_image.jpg' %}"
                         alt="image"
                         height="120"
                         width="120  "/>
                </div>
                <div class="content">
                    <a class="header">{{ anuncio }}</a>
                </div>
                <div class="extra content">
                    <span class="ui medium green text">R$ {{ anuncio.price }}</span>
                </div>
            </div>
        </div>
    {% empty %}
    
        <div class="ui hidden divider"></div>
        
        <div class="ui inverted red segment header">
            <p>Nenhum anúncio encontrado!</p>
        </div>
    
    {% endfor %}
</div>
{% endblock content %}